In [1]:
import pandas as pd
import os
from IPython.display import display

# Opening Data

In [2]:
file_path = '/Users/jessiefreelander/Flatiron/Git_lab_Phase Project/Phase-4-Project/Phase-4-Project/Twitter Data Sets/240115_binance_1002.csv'

df = pd.read_csv(file_path)

print(df.head())

         username                                         tweet_text  \
0   MantaAnalysis  celebration manta list on binance  2000000 air...
1         Amiou16  𝙄𝙣𝙫𝙚𝙨𝙩𝙤𝙧𝙨 𝙖𝙣𝙙 𝘽𝙖𝙘𝙠𝙚𝙙  skyark has a lot of inve...
2   Cryptoprime00  dedication to those who wait that deadcat boun...
3  CryptoLalit151  binance indirectly challenging indian sovereig...
4    MantaNetwork  today mantanetwork becomes the first zk l2 to ...

                                           tweet_raw        date  happy  \
0  Celebration $MANTA list on #Binance - $2000000...  01/15/2024   0.00
1  𝙄𝙣𝙫𝙚𝙨𝙩𝙤𝙧𝙨 𝙖𝙣𝙙 𝘽𝙖𝙘𝙠𝙚𝙙SkyArk has a lot of invest...  01/15/2024   0.33
2  Dedication to those who wait that deadcat boun...  01/15/2024   0.00
3  #Binance indirectly Challenging Indian Soverei...  01/15/2024   0.05
4  Today @MantaNetwork becomes the first ZK L2 to...  01/15/2024   0.00

   angry  surprise   sad  fear  afinn  bing     sid  bertweet  \
0   0.00      0.00  0.00  0.00      6     3  0.7430         0
1   0.00      0.00  0.33  0.33      4     1  0.4005         1
2   0.00      0.33  0.00  0.67      0     0  0.4404         1
3   0.11      0.21  0.05  0.58      4     1  0.9125        -1
4   0.00      0.33  0.67  0.00      7     2  0.7351         1

   bertweet_confidence
0             0.760314
1             0.751853
2             0.755133
3             0.708018
4             0.991829

In [3]:
print(df.shape)

(1002, 14)

# Concatinating Data

In [4]:
data_directory = '/Users/jessiefreelander/Flatiron/Git_lab_Phase Project/Phase-4-Project/Phase-4-Project/Twitter Data Sets/'

dataframes = []

for filename in os.listdir(data_directory):
    if filename.endswith('.csv'): 
        file_path = os.path.join(data_directory, filename)
        df = pd.read_csv(file_path)
        dataframes.append(df)


combined_df = pd.concat(dataframes, ignore_index=True)

combined_df.head(10)

,username,tweet_text,tweet_raw,date,happy,angry,surprise,sad,fear,afinn,bing,sid,bertweet,bertweet_confidence,coins,exchanges
0,ShardiB2,sol probably see a trend shift to green here ...,$SOLProbably see a trend shift to green here soon,02/09/2024,0.00,0.00,0.00,0.00,1.00,0.0,0.0,0.0000,0.0,0.908659,NaN,NaN
1,vinsolana,mmm good job samoyedcoin i like what youre doi...,Mmm good job @samoyedcoin i like what you’re d...,02/09/2024,0.00,0.00,0.00,0.00,1.00,5.0,2.0,0.6597,1.0,0.986673,NaN,NaN
2,cryptophrex,sol profits most likely to flow into inj,$SOL profits most likely to flow into $INJ,12/29/2023,0.00,0.00,0.00,0.00,1.00,0.0,0.0,0.4404,0.0,0.944062,NaN,NaN
3,claytopians_NFT,providing value is key being clear about the ...,Providing value is key & being clear about the...,02/09/2024,0.00,0.05,0.15,0.30,0.50,4.0,1.0,0.8771,0.0,0.905987,NaN,NaN
4,Solmaxxi,sol is pushing for 110 remember anon this mag...,$SOL is pushing for $110.Remember anon this ma...,02/09/2024,0.38,0.12,0.38,0.00,0.12,0.0,1.0,-0.7105,0.0,0.627812,NaN,NaN
5,sharkdad81,pdex project is stronger than uni cake and inc...,$PDEX project is stronger than $UNI $CAKE and ...,02/09/2024,0.00,0.00,0.00,1.00,0.00,2.0,2.0,0.3818,1.0,0.988513,NaN,NaN
6,web3moe,to celebrate 59k followers heres a big giveawa...,To celebrate 59k+ followers here’s a big givea...,02/09/2024,0.00,0.17,0.33,0.00,0.50,5.0,2.0,0.7906,1.0,0.937607,NaN,NaN
7,yientulips,the squad cappysnft,the squad @CappysNFT,02/09/2024,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0000,0.0,0.935295,NaN,NaN
8,gr3gor14n,获得一等奖 eventspolkadotnetwork 虫洞w的空投的地址包括但不限以下...,🥰获得一等奖 - events-polkadot.network虫洞$W的空投的地址，包括但...,02/09/2024,0.00,0.00,0.00,0.00,0.00,0.0,1.0,0.0000,0.0,0.975767,NaN,NaN
9,HeteroChupalaaa,went to leh bank the other day they gave me mo...,Went to $LEH bank the other day. They gave me ...,02/09/2024,0.22,0.00,0.00,0.33,0.44,7.0,2.0,0.8176,1.0,0.988199,NaN,NaN

# Cleaning Data

In [5]:
na_values = combined_df.isna().sum()
print(na_values)

username                  30
tweet_text                30
tweet_raw                 32
date                      32
happy                     32
angry                     32
surprise                  32
sad                       32
fear                      32
afinn                     32
bing                      32
sid                       32
bertweet                  33
bertweet_confidence       33
coins                  58545
exchanges              58566
dtype: int64

In [6]:

combined_df = combined_df.drop(columns=['coins', 'exchanges', 'tweet_text'])

In [7]:
combined_df = combined_df.dropna()

In [8]:
na_values = combined_df.isna().sum()
print(na_values)
print(combined_df.shape)

username               0
tweet_raw              0
date                   0
happy                  0
angry                  0
surprise               0
sad                    0
fear                   0
afinn                  0
bing                   0
sid                    0
bertweet               0
bertweet_confidence    0
dtype: int64
(58542, 13)

In [9]:
combined_df = combined_df[combined_df['date'] >= '2020-01-01']

In [10]:
combined_df

Empty DataFrame
Columns: [username, tweet_raw, date, happy, angry, surprise, sad, fear, afinn, bing, sid, bertweet, bertweet_confidence]
Index: []

# Exporting Data

In [11]:
# Save combined_df to a CSV file
output_file_path = '/Users/jessiefreelander/Flatiron/Git_lab_Phase Project/Phase-4-Project/combined_data.csv'
combined_df.to_csv(output_file_path, index=False)

In [12]:
# Convert the 'date' column to datetime format
combined_df['date'] = pd.to_datetime(combined_df['date'], errors='coerce')

# Check the date range
date_range = combined_df['date'].min(), combined_df['date'].max()
print(f"Date range: {date_range}")

Date range: (NaT, NaT)